@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 dark:bg-gray-950 text-gray-950 dark:text-gray-50 transition-colors duration-300;
}


.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
